.icon-menu {
    min-width: 55px !important;
    text-align: center !important;
	left: -75px;
    top: 1px;
}

.dec-none { 
    text-decoration: none!important; /* Отменяем подчеркивание у ссылки */
   } 

.align-left{ 
    text-align: left; 
   } 


.panel-heading .breadcrumb .category{ 
        font-size: 18px; 
   } 

.panel-heading .breadcrumb .category a { 
        color: #333;
   } 

 .panel-heading .breadcrumb .category span { 
        color: #000000;
   } 