@media (min-width:1200px){
    #demo-panel-collapse-default{
        height:90px;
}
}
#hide{
    display:none;
}
#hide1{
    display:none;
}
.btn-info{
    background-color:#5bc0de;
    border-color:#30b1d4;
}
.tb_row span{
    color:#33b133;
    font-size:11pt;
    cursor: default;
}
.tb_row .blue{
    color:#2196F3;
    font-size:11pt;
    font-weight:600;
} 
.tb_row .orange {
    color:#ff690c;
    font-size:11pt;
    font-weight:600;
} 
.table i{
    cursor: pointer;
}
.tb_row span:hover{
    color:#086c08;
    font-size: 12pt;
}
.tb_head{
    color:black;
    font-weight: 700;
}
.tb_row a{
    text-decoration: underline;
    color:#206577;
    font-size: 11pt;
}
.tb_row td a:hover{
    color:#008cb1;
}
.tb_head th input{
    margin:7px 5px 5px 7px;
}
/*--- for thead elements --*/
.tb_head td:nth-child(3){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(4){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(5){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(6){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(7){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(8){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(9){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(10){
    text-align: center;
    vertical-align: middle;
}
.tb_head td:nth-child(11){
    text-align: center;
    vertical-align: middle;
}
/*--- for tables elements--*/
.tb_row td:nth-child(3){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(4){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(5){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(6){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(7){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(8){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(9){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(10){
    text-align: center;
    vertical-align: middle;
}
.tb_row td:nth-child(11){
    text-align: center;
    vertical-align: middle;
}

.tb_row td:nth-child(4) i{
    font-size: 12pt;
}
.tb_row td:nth-child(5) i{
    font-size: 12pt;
}
.tb_row .btn-danger{
    background-color: #FF5252;
}
.tb_row .btn-success{
    background-color: #9CCC65;
}
.tb_row button a{
    text-decoration: none;
    color:white;
}
.tb_row button a:hover{
    color:white;
}
.tb_row .fa-google{
    color:#2196F3;
    font-size:11pt;
}
/*-- seo texts.html---*/
.lbl{
    font-size:11pt;
    font-weight:600;
}
.inp{
    border-color:#8BC34A;
    font-size:11pt;
    color:#758697;
}
.inp:focus{
    border-color:#508811;
    border-width: 2px;
}
.marg{
    margin-bottom: 20px;
}
.margs{
    margin-top: 20px;
}
.actives{
    background-color: #79A940;
    border: 1px solid #79A940;
    color:white;
}
.actives:hover{
    color:white;
}
#pll.nav-pills>li>a{
    text-decoration: none;
}
#pll.nav-pills>li.active>a{
    background-color: #74a838;
}
b.dangers{
    color:#FF5252;
    font-size: 10pt;
}
b.success{
    color:#9CCC65;
    font-size:10pt;
}
b.warning{
    color:#ffa31c;
    font-size:10pt;
}
b.primary{
    color:#38a0f4;
    font-size:10pt;
}
.data{
    font-size:11pt;
    color:#758697;
}
td p{
    font-size:11pt;
    font-weight:600;
}
.inpt{
    display:none;
    width:90%;
    height:38px;
}
.creat .tb_head td:nth-child(1){
    vertical-align: middle;
}
.creat .tb_head td:nth-child(2){
    vertical-align: middle;
}
.creat .tb_row td:nth-child(1){
    vertical-align: middle;
}
.creat .tb_row td:nth-child(2){
    vertical-align: middle;
}
.tb th:not(:first-child){
    border:1px solid #758697;
    padding:10px;
    vertical-align: middle;
    text-align: center;
    min-width: 200px;
}
.tb th:first-child{
    border:1px solid #758697;
    padding:10px;
    vertical-align: middle;
    text-align: center;
    min-width: 50px;
}
.tb td:not(:first-child){
    border:1px solid #758697;
    padding:10px;
    vertical-align: middle;
    text-align: center;
    min-width: 200px;
}
.tb td:first-child{
    border:1px solid #758697;
    padding:10px;
    vertical-align: middle;
    text-align: center;
    min-width: 50px;
}
.tb ul{
    float: right;
    list-style: none;
    padding: 0;
    margin: 5px;
}
.text{
    font-size:11pt; 
}
.tb_head td i{
    font-size:10pt;
    color:#a0a0a0;
    cursor: pointer;
}

.tb th i{
    cursor: pointer;
}
.tb td .blue{
    color:#2196F3;
    font-size:11pt;
    font-weight:600;
} 
.tb td .orange {
    color:#ff690c;
    font-size:11pt;
    font-weight:600;
} 
.tb tr td:nth-child(2){
    color:11pt;
    font-weight: 600;
}
.tb tr td:nth-child(4){
    color:11pt;
    font-weight: 600;
}
.tb th div:first-child{
    word-wrap: break-word;
    float: left;
    width: 80%;
}
.tb th div:last-child{
    width:20%;
    float: left;
}
.green{
    font-size:11pt;
    color:#8BC34A;
    font-weight: 700;
    display:none;
}
.red{
    font-size:11pt;
    color:#F44336;
    font-weight: 700;
    display:none;
}
@media (max-width:1440px){
    .inpt{
        width:90%;
    }
}

.link-popap {
    background-color: #fff;
    min-width: 250px;
    position : absolute;
    top: -60px;
    z-index: 999;
}

.link-popap:hover, .link-popap:visited, .link-popap:link, .link-popap:active {
    background-color: #fff;
}

.link-popap input.form-control.lbl.inpt {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-popap .form-group {
    margin-bottom: 5px;
}

.kv-editable-close.close {
    font-size: 25px;
}

@media only screen and (max-width : 1370px) {
    .tree-node {
        font-size: 12px;
    }
}